<h1>New Task for Cohort</h1>

<form method="post" action="/tasks/create_for_cohort">

  <div class="field">
    <%= label_tag :title %><br>
    <%= text_field_tag :title %>
  </div>
  <div class="field">
    <%= label_tag :description %><br>
    <%= text_area_tag :description %>
  </div>

  <div class="field">
    <%= label_tag :cohort_id %><br>
    <select name="cohort_id">
      <%= options_from_collection_for_select(Cohort.all, :id, :name) %>
    </select>
  </div>

  <div class="actions">
    <%= submit_tag 'Assign Tasks'%>
  </div>

</form>

<%= link_to 'Task List', tasks_path %>
