<%= form_for(@cohort) do |f| %>
  <% if @cohort.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cohort.errors.count, "error") %> prohibited this cohort from being saved:</h2>

      <ul>
      <% @cohort.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
  </div>
  <div class="actions">
    <p>
      <%= f.submit create: "Create Cohort", update: "Update Cohort", :class => "btn btn-success" %>
    </p>
  </div>
<% end %>
