<div class="col-sm-8 col-sm-offset-2">
  <h1>Listing Cohorts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Show</th>
      <th>Change Name</th>
      <th>Remove Cohort</th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts.each do |cohort| %>
      <tr>
        <td><%= cohort.name %></td>
        <td><%= link_to 'Show', cohort %></td>
        <td><%= link_to 'Edit Name', edit_cohort_path(cohort) %></td>
        <td><%= link_to 'Remove', cohort, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cohort',  new_cohort_path, :class => "btn btn-primary" %>
</div>
