<div class="col-sm-8 col-sm-offset-2">
<p>
  <strong>Name:</strong>
  <%= @cohort.name %>
  <p><strong>Members</strong></p>
  <table class="table table-striped">
    <% @cohort.users.each do |member| %>
      <tr>
        <%= form_for(member, url: cohort_remove_from_cohort_path(@cohort)) do |f| %>
        <%= f.hidden_field :id, :value => member.id  %>
        <td><%= link_to member.name, member  %></td>
        <td><%= f.submit "Remove", :class => "btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</p>

<% if @members_for_select.length > 0 %>
  <%= form_for(@cohort, url: cohort_add_member_path(@cohort)) do |f| %>
  <div class="field">
    <p>
      <select name="member_id">
        <% @members_for_select.each do |member| %>
        <option value="<%= member[1] %>"><%= member[0] %></option>
        <% end %>
      </select>
    </p>
  </div>
  <div class="actions">
    <p>
      <%= f.submit 'Add Member', :class => "btn btn-success"%>
    </p>
  </div>
  <% end %>
<% else %>
  <p><em>There are no students without cohorts at this time.</em></p>
<% end %>

<%= link_to 'Edit Name', edit_cohort_path(@cohort) %> |
<%= link_to 'Cohort List', cohorts_path %> |
<%= link_to 'Delete', @cohort, method: :delete, data: { confirm: 'Are you sure?' } %>

</div>
