<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
  </div>
  <div class="field">
    <p>
      <%= f.label :date %><br>
      <%= f.datetime_select :date %>
    </p>
  </div>
  <div class="field">
    <p>
      <%= f.label :address %><br>
      <%= f.text_field :address, value: "3803 Ray St, San Diego CA 92104" %>
    </p>
  </div>
  <div class="field">
    <p>
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </p>
  </div>

  <div class="field">
    <%= label_tag :teacher_id %>
    <p>
      <select name="teacher_id">
        <%= options_from_collection_for_select(User.with_role(:teacher), :id, :name) %>
      </select>
    </p>
  </div>


  <div class="actions">
    <p>
      <%= f.submit 'Create Meeting', :class => "btn btn-success" %>
    </p>
  </div>
<% end %>
