<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, value: "3803 Ray St, San Diego CA 92104" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= label_tag :teacher_id %><br>
    <select name="teacher_id">
      <%= options_from_collection_for_select(User.with_role(:teacher), :id, :name) %>
    </select>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
