<div class="col-sm-8 col-sm-offset-2">

<h1>Upcoming Meetings</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Description</th>
      <th>Members</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <% if meeting.users.include?(current_user) &&  meeting.date >= Date.today %>
        <tr>
          <td><%= link_to meeting.title, meeting %></td>
          <td><%= meeting.date %></td>
          <td><%= meeting.description %></td>
          <td>
            <table>
              <% meeting.users.each do |member| %>
              <tr><td><%= link_to member.name, member %></td></tr>
              <% end %>
            </table>
          </td>
          <% if current_user.has_role?(:student) %>
            <td>
                <%= link_to 'Edit Meeting', edit_meeting_path(meeting) %>
            </td>
            <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>


<% if current_user.has_role?(:student) %>
<%= link_to 'New Meeting', new_meeting_path, :class => "btn btn-primary" %>
<% end %>
