<div class="row">
<div class="col-sm-4 col-sm-offset-4" id="googleMap"></div>
<div class="col-sm-4 pull-left">
<p>
  <strong>Title:</strong>
  <%= @meeting.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meeting.date.strftime('%A, %B %d %Y, %I:%M %p') %>
</p>

<p>
  <strong>Address:</strong>
  <%= @meeting.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<!-- TODO: change to display name not email -->
<p>
  <strong>Attendees:</strong>
  <% @meeting.users.each do |member| %>
  <p><%= link_to member.name, member %></p>
  <% end %>
</p>


<p>
  <strong>Created by:</strong>
  <%= link_to @user_createdby.name, @user_createdby %>
</p>

<% if current_user.has_role?(:student) %>
  <%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<% end %>
<%= link_to 'Return to Profile', '/' %>

</div>
</div>
<%= hidden_field :meeting, :id %>
