<div class="col-sm-6" id="googleMap" style="width:300px;height:300px;"></div>
<div class="col-sm-6 pull-left">
<p>
  <strong>Title:</strong>
  <%= @meeting.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meeting.date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @meeting.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<!-- TODO: change to display name not email -->
<p>
  <strong>Attendees:</strong>
  <% @meeting.users.each do |member| %>
  <p><%= link_to member.name, member %></p>
  <% end %>
</p>


<p>
  <strong>Created by:</strong>
  <%= link_to @user_createdby.name, @user_createdby %>
</p>

<% if current_user.has_role?(:student) %>
  <%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<% end %>
<%= link_to 'Cancel', meetings_path %>

</div>

<%= hidden_field :meeting, :id %>
