<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meeting.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meeting.date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @meeting.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<!-- TODO: change to display name not email -->
<p>
  <strong>Members:</strong>
  <% @meeting.users.each do |member| %>
  <p><%= member.name %></p>
  <% end %>
</p>


<p>
  <strong>Created by:</strong>
  <%= User.find(@meeting.created_by).name %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>

<%= hidden_field :meeting, :id %>
<div id="googleMap" style="width:300px;height:300px;"></div>
