<div class="col-sm-8 col-sm-offset-2">
<h1>Tasks</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Completed</th>
      <th>Assigned To</th>
      <th>Cohort</th>
    </tr>
  </thead>

  <tbody>
    <% @cohorts.each do |cohort| %>
      <% cohort.users.each do |user| %>
        <% user.tasks.each do |task| %>
          <tr>
            <td><%= link_to task.title, task %></td>
            <td><%= task.description %></td>
            <td><%= task.completed %></td>
            <td>
              <% if current_user.has_role?(:teacher) %>
                <%= link_to task.user.name, task.user %>
              <% else %>
                <%= task.user.name %>
              <% end %>
            </td>
            <td>
              <% if current_user.has_role?(:teacher) %>
                <%= link_to task.user.cohort.name, task.user.cohort %>
              <% else %>
                <%= task.user.cohort.name %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
    <% @students_without_cohorts.each do |user| %>
      <% user.tasks.each do |task| %>
        <tr>
          <td><%= link_to task.title, task %></td>
          <td><%= task.description %></td>
          <td>
            <% if task.completed == false %>
              <div class="empty_check2">☐</div>
            <% else %>
              <div class="checked2">☑</div>
            <% end %>
          </td>
          <td>
            <% if current_user.has_role?(:teacher) %>
              <%= link_to task.user.name, task.user %>
            <% else %>
              <%= task.user.name %>
            <% end %>
          </td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to 'Assign a task to a student', new_task_path, :class => "btn btn-primary" %>
<%= link_to 'Assign a task to a cohort', cohort_task_path, :class => "btn btn-primary" %></p>
</div>
