<div class="col-sm-12 col-sm-offset-5">
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>

<p>
  <strong>Assigned To:</strong>
  <% if current_user.has_role?(:teacher) %>
    <%= link_to @task.user.name, @task.user %>
  <% else %>
    <%= @task.user.name %>
  <% end %>
</p>

<p>
  <strong>Assigned By:</strong>
  <% if current_user.has_role?(:teacher) %>
    <%= link_to @user_createdby.name, @user_createdby %>
  <% else %>
    <%= @user_createdby.name %>
  <% end %>
</p>

<% if (current_user.has_role? :student) %>
  <% if (!@task.completed) %>
    <%= form_for @task, url: task_mark_complete_path(@task), html: { method: :post } do |f| %>
    <p>
      <%= f.submit 'Mark Complete', :class => "btn btn-success" %>
    </p>
    <% end %>
  <% else %>
    <%= form_for @task, url: task_mark_incomplete_path(@task), html: { method: :post } do |f| %>
    <p>
      <%= f.submit 'Mark Incomplete', :class => "btn btn-danger" %>
    </p>
    <% end %>
  <% end %>
<% end %>
<p><a href="/">Back to profile</a></p>
<% if current_user.has_role? :teacher %>
  <%= link_to 'Edit', edit_task_path(@task) %> |
  <%= link_to 'Task List', tasks_path %> |
  <%= link_to 'Delete', @task, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</div>
