<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>

<p>
  <strong>Assigned To:</strong>
  <%= @task.user.name %>
</p>

<% if (current_user.has_role? :student)  && (!@task.completed) %>
  <%= form_for @task, url: task_mark_complete_path(@task), html: { method: :post } do |f| %>
    <%= f.submit 'Complete' %>
  <% end %>
<% end %>

<% if current_user.has_role? :teacher %>
  <%= link_to 'Edit', edit_task_path(@task) %> |
  <%= link_to 'Task List', tasks_path %>
<% end %>
