<div class="col-sm-12 col-sm-offset-5">
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>

<p>
  <strong>Assigned To:</strong>
  <%= link_to @task.user.name, @task.user %>
</p>

<p>
  <strong>Assigned By:</strong>
  <%= link_to @user_createdby.name, @user_createdby %>
</p>

<% if (current_user.has_role? :student) %>
  <% if (!@task.completed) %>
    <%= form_for @task, url: task_mark_complete_path(@task), html: { method: :post } do |f| %>
      <%= f.submit 'Turn In', :class => "btn btn-success" %>
    <% end %>
  <% else %>
    <%= form_for @task, url: task_mark_incomplete_path(@task), html: { method: :post } do |f| %>
      <%= f.submit 'Take Back', :class => "btn btn-danger" %>
    <% end %>
  <% end %>
<% end %>

<% if current_user.has_role? :teacher %>
  <%= link_to 'Edit', edit_task_path(@task) %> |
  <%= link_to 'Task List', tasks_path %> |
  <%= link_to 'Delete', @task, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</div>
