<h1>My Tasks</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Completed</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.completed %></td>
        <td><%= task.user.email %></td>
        <td><%= link_to 'Show', task %></td>
        <td>
          <%= form_for task, url: task_mark_complete_path(task), html: { method: :post } do |f| %>
            <%= f.submit 'Complete' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
