<h1>Profile (<%= current_user.roles.first.name %>)</h1>
<%= current_user.email %>
<% if current_user.has_role?(:teacher) %>
  <%= render 'user/pending_teachers' %>
<% end %>
<% if current_user.has_role?(:student) %>
<%= render 'user/profile_pic' %>
<%= render 'user/student_tasks' %>
<!-- <%= render 'user/student_meetings' %> -->
<% end %>
