<h1><%= @user.name %>'s Profile (<%= @user.roles.first.name %>)</h1>
<p><%= @user.email %></p>
<%= image_tag(@user.image.url(:large)) %>
<% if @user.has_role?(:student) %>
  <h1>Tasks</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Status</th>
        <th>Title</th>
      </tr>
    </thead>

    <tbody>
      <% @user.tasks.each do |task| %>
        <tr>
          <td class="task_status">
            <% if !task.completed %>
              <%= form_for task, url: task_mark_complete_path(task), html: { method: :post } do |f| %>
              <% end %>
            <% else %>
              &#10003;
            <% end %>
          </td>
          <td><%= link_to task.title, task %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'user/student_meetings' %>
<% end %>
