<h1><%= @user.name %>'s Profile (<%= @user.roles.first.name %>)</h1>
<p><%= @user.email %></p>
<%= image_tag(@user.image.url(:large)) %>
<% if @user.has_role?(:student) %>
  <h1>Tasks</h1>
  <table class="table table-striped">

    <tbody>
      <% @user.tasks.each do |task| %>
        <tr>
          <td><%= link_to task.title, task %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'user/student_meetings' %>
<% end %>
