<!DOCTYPE html>
<html>
<head>
  <title>Paul's Planner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
  <%=render 'layouts/navbar'%>
  <%= flash_messages %>
  <div class="container-fluid">
  <%= yield %>
  </div>
</body>
</html>
